@page "/"
@inject AuthStateProvider _asp
@inject NavigationManager _nm

<p>@greska</p>
<input @bind-value="uname" />
<input @bind-value="pass"/>
<button @onclick="Reg">Login</button>
<AuthorizeView Roles="Admin">
	<Authorized>
		<b>Kojesta za admina :) </b>
	</Authorized>
	<NotAuthorized>
		<b>Nisssta</b>
	</NotAuthorized>
</AuthorizeView>


@code 
{
	private string uname, pass, greska = string.Empty;

	private async void Reg()
	{
		greska = string.Empty;
		var rez = await _asp.Login(new RegistracijaMsg { Korisnicko = uname, Pass = pass });
		if (!rez.Uspeh)
		{
			greska = rez.Greske;
			StateHasChanged();
		}
		else
			_nm.NavigateTo("/", true);
	}
}